﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="fs">
<head>
    <title>Checkout List</title>
    <link href="Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/ng-grid.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-touch.min.js"></script>

    <script src="Scripts/jquery-1.8.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/ng-grid.js"></script>
    <script src="Scripts/moment.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <script src="js/fuel-module.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>


    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body >

    <div class="container" ng-controller="CheckoutListController">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header"><div class="navbar-brand">Fuel Station</div></div>
            <ul class="nav navbar-nav">
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/checkoutList">Checkout List</a></li>
            </ul>

            <button type="button" class="btn btn-link pull-right" onclick="javascript:location.reload(true)">
                <h4> Refresh</h4>
            </button>
            <button type="button" class="btn btn-link pull-right" ng-click="editArchives()">
                <h4> Archives</h4>
            </button>
                    
        </nav>
        

        <div class="row ">
            <div class="col-xs-3" ng-repeat="checkout in checkouts | filter:{isArchived:false} ">
                <div class="panel panel-checkout panel-default" ng-click="editCheckout(checkout)">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-link pull-right" ng-click="setArchive(checkout)"><span class="glyphicon glyphicon-minus"></span></button>
                        <h4>
                            {{checkout.studentSport.fullName}}
                        </h4>

                    </div>
                    <div class="panel-body">
                        <ul ng-repeat="choice in checkout.checkoutChoices | limitTo:7">
                            <li>{{choice.choice.name}}</li>
                        </ul>
                        <a ng-show="checkout.checkoutChoices.length > 7">more...</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="footer">
            
            
            
                
            </div>


        <div class="modal fade bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
            <div class=" modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">{{currentCheckout.studentSport.fullName}} <small>{{currentCheckout.studentSport.sportCodeID}}</small></h2>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div ng-repeat="category in categories track by $index">
                                    <div class="row fuel-items2b" ng-show="filtered.length > 0">
                                        <div class="col-sm-2 text-right">
                                            <h4>{{category.name}}</h4>

                                        </div>
                                        <div ng-init="parentIndex = $index + 1"></div>
                                        <div class="col-sm-10">
                                            <button ng-repeat="choice in filtered = (choices | filter:{choice: { categoryID: parentIndex}})"
                                                    ng-class=" {'btn-warning': (parentIndex%2 == 0) }"
                                                    class="btn btn-lg btn-info"
                                                    type="button"
                                                    ng-click="addChoice(choice)">
                                                {{choice.choice.name}}
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <h2 class="modal-title">{{athleteData[0].fullName}} <small>{{sportCodeId}}</small></h2>

                                <hr />
                                <div class="panel panel-checkout-choices panel-info">
                                    <div class="panel-heading">
                                        <button type="button"
                                                class="btn btn-sm btn-primary pull-right"
                                                ng-disabled="order < 1"
                                                ng-click="clearChoices()">
                                            Clear
                                        </button>
                                        <h5>Choices </h5>
                                    </div>

                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="item in order track by $index">
                                            <button type="button" class="btn btn-link " ng-click="deleteChoice(item)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>{{item.choice.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" id="archivesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Archived Orders</h3>
                    </div>

                    <div class="modal-body">
                        
                        <div class="gridStyle" ng-grid="gridOptions"></div>

                    </div>


                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </div>


</body>


</html>
