﻿/*#region base */

html {
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
}

body {
    padding-top: 35px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 320px;
}



/*#endregion */

.container-fluid{
    margin-left: 15px;
    margin-right: 15px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 800px; 
    height: 386px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.ngVerticalBar {
    height: 100%;
}

.panel.panel-checkout {
    height: 310px;

}

.panel-heading h4 {
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel.panel-checkout-choices {
    min-height: 100px;
}

.modal-header {
    padding: 10px;
}

.modal-body {
    padding: 10px;
}

.modal-dialog {
    margin-top: 10px;
    padding: 10px;
}

.modal-footer {
    margin-top: 0px;
    padding: 10px;
}

.panel-body ul{
    padding-left: 20px;
}

@media screen and (min-width: 768px) {
    .modal-lg {
        width: 100%; /* either % (e.g. 60%) or px (400px) */
    }

}

.modal-choices{
    height: 768px;
}

.fuel-items{
    margin-bottom: 10px;
}

.fuel-items .btn {
    white-space: normal;
    height: 68px;
    padding: 0px;
}

.fuel-items2{
    margin-bottom: 20px;
}

.fuel-items2 .btn {
    white-space: normal;
    margin-right: 5px;
    min-width: 190px;
    margin-bottom: 5px;
}

.fuel-items2b{
    margin-bottom: 20px;
}

.fuel-items2b .btn {
    white-space: normal;
    margin-right: 5px;
    margin-bottom: 5px;
}

.fuel-items3{
    margin-bottom: 10px;
}

.fuel-items3 .btn {
    white-space: normal;
    margin-right: 5px;
    width: 145px;
    height: 60px;
    margin-bottom: 5px;
}

th.sortorder {
    cursor: pointer;
}

span.sortorder:after {
  content: '\25b2';
}
span.sortorder.reverse:after {
  content: '\25bc';
}

.vcenter {
    vertical-align: middle;
}