﻿<div class="container" ng-controller="FuelController">

    <h2>Fuel Categories <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addModal">Add</button></h2>
    <table class="table table-condensed table-hover">
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Description</th>
            <th>Choices</th>
        </tr>
        <tr ng-repeat="category in categories">
            <td width="145px">
                <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#editModal" ng-click="editCategory(category)">Edit</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="deleteCategory(category)">Delete</button>
            </td>
            <td>
                {{category.name}}
            </td>
            <td width="165px">{{category.description}}</td>
            <td>
                <span ng-repeat="choice in category.choices">
                    <span class="badge">
                        {{choice.name}}
                    </span>
                </span>
            </td>
        </tr>
    </table>



    <div class="modal fade bs-example-modal-lg" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" ng-controller="CategoryController">
        <div class=" modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Category</h3>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" ng-model="add_category.name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" ng-model="add_category.description" class="form-control" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" ng-click="addCategory(add_category) ">Save Category</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class=" modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Category and Choices</h3>
                </div>

                <div class="modal-body">
                    <div class="well">
                        <h4>Category</h4>
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <input class="col-sm-7 form-control" type="text" ng-model="category.name" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description</label>
                                <input class="col-sm-7 form-control" type="text" ng-model="category.description" />
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <h4>
                            Choices for {{category.name}} Category
                            <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="addChoice()">Add</button>
                        </h4>

                        <div class="form-horizontal" role="form">
                            <div ng-repeat="choice in choices track by $index">
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label">Choice {{$index + 1 }}</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" ng-model="choice.name" />
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-sm btn-danger" ng-click="deleteChoice(choice)">Delete</button>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" ng-click="save() ">Save Category</button>
                </div>

            </div>
        </div>
    </div>


</div>