﻿<h2>FuelStation Settings</h2>

<form ng-submit="onSubmitSnackLimits()">
    <div class="form-group">
        <label for="daySnackLimit">Daily Snack Limit</label>
        <input type="number" class="form-control" ng-model="snackLimits.daySnackLimit"/>
    </div>

    <div class="form-group">
        <label for="monthSnackLimit">Monthly Snack Limit</label>
        <input type="number" class="form-control" ng-model="snackLimits.monthSnackLimit" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button> <i ng-if="snackLimitSaved" class="fa fa-check-circle-o text-success fa-2x vcenter"></i>
</form>