﻿<h2>All Snacks <button class="pull-right btn btn-primary" ng-click="addChoice2()">Add <i class="glyphicon glyphicon-plus-sign"></i></button></h2>

<table class="table table-condensed table-hover">
    <tr>
        <th>Actions</th>
        <th class="sortorder" ng-click="order('name')">Name<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
        <th class="sortorder" ng-click="order('type')">Type<span class="sortorder" ng-show="predicate === 'type'" ng-class="{reverse:reverse}"></span></th>
    </tr>
    <tr ng-repeat="choice in allChoices | orderBy:predicate:reverse | newOnTop: 'newItem'">
        <td width="145px">
            <button ng-if="choice.editMode" type="button" class="btn btn-sm btn-success" ng-click="saveChoice(choice, choice.choiceID)">Save</button>
            <button ng-if="!choice.editMode" type="button" class="btn btn-sm btn-warning" ng-click="editChoice(choice)">Edit</button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="deleteChoice2(choice)">Delete</button>
        </td>
        <td>
            <div ng-if="!choice.editMode">
                <i class="glyphicon glyphicon-ok-circle text-success" ng-if="choice.saved"></i>
                {{choice.name}}
            </div>
            <div ng-if="choice.editMode">
                <input class="form-control" ng-model="choice.name" />
            </div>
        </td>
        <td>
            <div>
                <select ng-model="choice.type" class="form-control" ng-disabled="!choice.editMode">
                    <option value="0">Snack only</option>
                    <option value="1">Pre</option>
                    <option value="2">Post</option>
                    <option value="3">Hydration</option>
                </select>
            </div>
        </td>
    </tr>
</table>