<header class="bar bar-header bar-positive">
    <h1 class="title">Menu</h1>
</header>
<ion-content class="has-header">

    <ul class="list">
        <li>
            <a class="item" menu-close href="#/tab/orderList">Order List</a>
        </li>
        <li>
            <a class="item" menu-close href="#/tab/archiveList">Archive List</a>
        </li>
        <li>
            <a class="item" menu-close nav-clear href="#/tab/snackLimits">Snack Limits</a>
        </li>
        <li>
            <a class="item" menu-close href="#/tab/updateChoices">FuelStation Choices</a>
        </li>
        <li>
            <a class="item" menu-close href="#/tab/studentID">Athlete Login</a>
        </li>
        <li>
            <a class="item" menu-close href="#/tab/dailyReport">Today's Checkout Report</a>
        </li>
        <li>
            <a class="item" menu-close href="#/tab/monthlyCounts">Monthly Counts Report</a>
        </li>
        <li>
            <a class="item" menu-close href="#/tab/errorReport">Error Report</a>
        </li>
        <li>
            <span class="item">v 0.0.5</span>
        </li>
    </ul>
</ion-content>
